a {
    text-decoration: none;
    color: inherit;
}
.article-box-title{
    color:rgb(55, 51, 173);
}
.single-article-resource-links a{
    text-decoration: none;
}
.single-article-resource-links{
    margin-top: 5px;
    transition:all 0.6s ease;
    text-align: center;
    width:100%;
}
.single-article-resource-links:hover{
    font-size: 1.1em;
}
.resources-links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    padding: 10px;
}
.resources-links{
    height: auto;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}