/* Overall Page Layout */
.new-budget-page {
    font-family: 'Poppins', sans-serif;
    background-color: #bab7fd;
    max-height:500px;
    overflow: scroll;
}

/* Header for the Budget Page */
.new-budget-page h1 {
    text-align: center;
    font-size: 30px;
    color: black;
}

/* Form Layout */
.new-budget-page form {
    border:2px white solid;
}

/* Labels and Input Fields */
.new-budget-page label {
    font-size: 18px;
    color: #333;
}

.new-budget-page input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    grid-column: span 2;
}

.new-budget-page h2 {
    font-size: 24px;
    color: #0c03c3;
}

/* Budget Items */
.budget-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.budget-item p {
    margin: 0;
    font-size: 16px;
}

/* Remove Buttons */
.budget-item button {
    background-color: #ed6a5a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.budget-item button:hover {
    background-color: #ff7961;
}

/* Remaining Balance Section */
.remaining-balance h3 {
    font-size: 20px;
    color: #0c03c3;
    text-align: center;
    margin-top: 20px;
}

/* Submit Button */
.new-budget-page button[type="submit"] {
    background-color: #0c03c3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 2;
    transition: background-color 0.3s ease;
}

.new-budget-page button[type="submit"]:hover {
    background-color: #372dff;
}
.submit-disable{
    background-color:#cdcccc;
    color:#7b7b7b;
}