.goalbloom-reached {
    position: relative;
    border: 3px solid #949492;
    animation: glow 1s infinite alternate;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: #fff3c2;
}
.goal-card{
    padding: 10px;
    box-shadow: 1px 4px 4px rgba(81, 6, 172, 0.322);
    background-color: #c0c0c0d2;
    border-radius: 5px;
    transition: transform 0.5s ease;
    max-width:300px;
}
.goal-card:hover{
    transform: scale(1.05);
}
.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goal-edit-button, .goal-delete-button{
    border: none;
        border-radius: 20%;
        height: 40px;
        width: 40px;
        margin: 3px;
        color: #6c55ef;
        cursor: pointer;
}
.goal-edit-button:hover{
    background-color: #6c55ef;
        color: white;
}
.goal-delete-button:hover{
    background-color: rgb(253, 31, 108);
    color: white;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FF8C00;
    }

    to {
        box-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FF8C00;
    }
}

.goalbloom-reached p {
    color: #FFA500;
    animation: text-fade 2s ease-in-out forwards;
}

@keyframes text-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}