.signup-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #0c03c3;
    text-align: center;
}

.signup-form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    background-color: white;
    border-radius: 10px;
    max-width: 400px;

}

.signup-form-label {
    font-size: 1rem;
    color: #0c03c3;
    font-weight: bold;
    width: 100%;
}

.signup-form-input {
    width: 80%;
    padding: 10px;
    border: 2px solid rgb(244, 198, 16);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #372dff;
    background-color: white;
}

.signup-form-input:focus {
    outline: none;
    border-color: rgb(244, 198, 16);
    background-color: #fff3cc;
}

errors {
    color: red;
    margin: 0 0 10px;
    font-size: 0.9rem;
}

.menu-button-login-a {
    margin: 10px 0;
    border:none;
    background-color: rgba(255, 255, 255, 0);
}
.login-section{
    display:flex;
}
.login-a-signup-form{
    font-size: 14px;
    color: rgb(127, 128, 132);
    text-decoration: underline;
}
.option-buttons-signup {
    font-weight: lighter;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    background-color: rgba(248, 206, 41, 0.845);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-buttons-signup:hover {
    background: linear-gradient(45deg, #b06bf1, #2a38f9);
    transform: scale(1.05);
}