.bookmarks-home {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #dddbf9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmarks-description {
    background-color: #fefefe10;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}
.bookmarks-description button{
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: rgb(32, 32, 32);
    font-size: 16px;
    transition: all 1.3s ease;
}
.bookmarks-description button:hover{
    text-decoration: underline;
    color: rgba(29, 29, 225, 0.86);
}
.bookmarks-page-head {
    color: #444444;
}

.bookmarks-description p {
    color: #353535;
    font-size: 20px;
}
.resources-container-bookmark-page {
    width: 600px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 10px 40px;
    margin-top: 15px;
    border-radius: 20px;
    align-self: center;
}

.article-card-bookmark-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-titles-bookmark {
    color: rgb(14, 13, 21);
    text-align: center;
    transition: all 0.5s ease;
}
.article-titles-bookmark:hover{
    transform: scale(1.1);
}

.article-card-bookmark-page a {
    text-decoration: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.191);
    width:100%;
}

.bookmark-icon {
    color: rgba(29, 29, 225, 0.86);
    font-size: 24px;
    border: none;
    background-color: #130e6f00;
    cursor: pointer;
    transition: all 0.5s ease;
}
.bookmark-icon:hover{
    transform: scale(1.1);
}