.resources-home{
    width: auto;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #f6fafb;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.resources-description{
    background-color: #efe7fb10;
    border-radius: 10px;
    padding: 10px;
}
.resources-page-head{
    color:black;
}
.resources-description p{
    color: black;
    font-size: 20px;
}
.top-section-article-page{
    display: flex;
    flex-direction: row;
    width: 75%;
}
.bookmarks-button{
    transition: all 0.5s ease;
    background-color: #f8f8f800;
    color:rgb(46, 12, 216);
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}
.bookmarks-button:hover {
    text-decoration: underline;
}
.resources-container-main-page{
    width: 600px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.632);
    width: auto;
    padding: 10px 40px;
    border-radius: 20px;
    align-self: center;
}
.article-card-main-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.article-card-main-page a{
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-size: large;
    transition: all 0.5s ease;
}
.article-card-main-page a:hover{
    transform: scale(1.10);
}
.bookmark-icon{
    color:rgba(29, 29, 225, 0.86);
    font-size: 24px;
    border: none;
    background-color: #130e6f00;
    cursor:pointer;
}