
.budgets-page {
    width:auto;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #bab7fd;
}
.budgets-page-header {
    text-align: center;
    margin-bottom: 20px;
    color: #323232;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.499);
}
.budgets-page-header h1 {
    font-size: 30px;
    color: black;
}
.budgets-page-header p {
    font-size: 18px;
    color: #666;
}
.new-budget-button {
    text-align: right;
    margin-bottom: 20px;
}
.new-budget-btn {
    background-color: #0c03c3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.new-budget-btn:hover {
    background-color: #372dff;
}
.budgets-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.current-budget-section {
    margin-bottom: 30px;
    flex: 1;
}
.budget-chart {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.budget-chart h2 {
    font-size: 24px;
    color: #0c03c3;
    margin-bottom: 10px;
}
.budget-chart p {
    font-size: 18px;
    color: #666;
}
.saved-budgets {
    flex: 1;
    max-height: 440px;
    overflow-y: scroll;
    scrollbar-width: 0px;
    background-color: rgba(255, 255, 255, 0.387);
    border-radius: 10px;
}
.saved-budgets h2 {
    font-size: 24px;
    color: #0c03c3;
    margin-bottom: 20px;
}
.saved-budgets table {
    border-collapse: collapse;
    width:100%;
}
.saved-budgets th,
.saved-budgets td {
    padding: 8px;
    text-align: left;
}
.saved-budgets th {
    background-color: #ffbd59d2;
    color: black;
    font-weight: bold;
}
.saved-budgets td {
    font-size: 16px;
    color: #333;
}
.saved-budgets button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.saved-budgets-colName {
    background-color: #454add;
    transition: background-color 1s ease;
}
.saved-budgets-colName:hover {
    background-color: rgb(144, 79, 230);
}
.delete-btn-budget{
    background-color: rgb(229, 104, 79);
    transition: background-color 1s ease;
}
.delete-btn-budget:hover{
    background-color: red;
}

.related-articles {
    background-color: #0c03c3;
    border-radius: 20px;
    opacity: 35%;
    transition: opacity 1s linear, box-shadow 1s ease;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.related-articles:hover {
    opacity: 70%;
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
}
@media (max-width: 768px) {
    .budgets-page {
        padding: 10px;
    }

    .budgets-content {
        flex-direction: column;
    }

    .new-budget-button {
        text-align: center;
        margin-bottom: 20px;
    }

    .saved-budgets table {
        display: block;
        overflow-x: auto;
    }
}
