.login-page {
    background-image: url('../../../images/backgroundTwo.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.login-container h1 {
    color: white;
}

.login-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.login-form-page {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 40px;
}

.login-page-form-label {
    font-size: 1.1rem;
    color: #0c03c3;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.login-page-form-input {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(244, 198, 16);
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #372dff;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.login-page-form-input:focus {
    outline: none;
    border-color: #f6c818;
    background-color: #fff3cc;
    transform: scale(1.02);
}

.submit-button-login-page {
    font-weight: lighter;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    background-color: rgb(253, 221, 93);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button-login-page:hover {
    background-color: rgb(244, 198, 16);
    color: #372dff;
    font-weight: bolder;
    transform: scale(1.05);
}

.errors {
    color: rgba(255, 81, 0, 0.959);
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.login-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}