@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.goals-page {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #bab7fd;
}
.goals-page-head{
    text-align:center;
    font-size: 30px;
}
.goals-header {
    text-align: center;
}

.goals-description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.499);
}

.add-goal {
    text-align: right;
    margin-bottom: 30px;
}

.add-goal-button {
    background-color: #0c03c3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-goal-button:hover {
    background-color: #372dff;
}

.goal-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-evenly;
}